@charset "utf-8";

/*ν—¤λ”*/
#header{
    position: fixed;
    z-index: 6;
    width: 100%;
    box-shadow: 0 2px 30px 0 rgb(54 54 75 / 15%);
}
.headerWrap{
    display: inline-block;
    position: relative;
    min-width: 1300px;
    background: #fff;
    padding: 20px 100px;
}

.gnb{
    position: absolute;
}
.gnb li{
    margin:0 30px;
}
.gnb li a{
    font-size: 20px;
    color: #121212;
    font-weight: 800;
    line-height: 60px;
}

.popBtn{
    float: right;
    background: #eee;
    border-radius: 10px;
    padding: 0 50px;
}
.popBtn a{font-family: 'NotoSans';
    font-size: 18px;
    line-height: 60px;
    font-weight: 400;
    color: #333;
}
.popBg{
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}
.popBox{
    font-family: 'NotoSans';
    font-size: 20px;
    position: relative;
    width: 500px;
    height: 300px;
    background: #fff;
    position: fixed;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 50px;
    box-sizing: border-box;
    letter-spacing: 2px;
    line-height: 25px;
}
.popBoxBtn{
    position: absolute;
    right: 50%;
    margin-right: -200px;
    background: #eee;
    width: 400px;
    bottom: 40px;
}
.popBoxBtn li a{
    display: block;
    width: 400px;
    text-align: center;
    font-weight: 400;
    font-family: 'NotoSans';
    font-size: 18px;
    line-height: 45px;
    color: #999;
    line-height: 50px;
}
.popBoxBtn a:hover{
    color: #555;
    transition: 0.2s ease-in-out;
}






/*ν‘Έν„°*/
.footer{}